@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(59, 39, 98);
    border-radius: 10px;
}

h1, h2, h3, p {
    cursor: default;
}

li {
    list-style: none;
}

body {
    font-family: "Sora", sans-serif;
    padding: 60px 0px 0px 0px;
    background-color: #0f0f0f;
}

:root {
    --color-0: #fff;
    --color-1: #8c52ff;
    --color-3: #1F1F1F;
}

ion-icon {
    margin: 0 5px;
}

   /* HEADER */
header nav {
    width: 100%;
    height: 60px;
    top: 0;
    padding: 10px 30px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.281);
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.661);
    backdrop-filter: blur(15px);
}

nav div {
    max-width: 1280px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* ITENS NAVBAR */
.logo {
    position: relative;
}
.logo img {
    max-height: 50px;
}

header nav div ul {
    list-style: none;
    display: flex;
} 

header nav div ul li {
    display: inline-block;
}

header nav div ul li:not(:last-child) {
    margin-right: 35px;
}

header nav div ul li a {
    text-decoration: none;
    color: var(--color-0);
    transition: color 0.3s;
    font-weight: bolder;
    font-size: 1.2em;
}

header nav div ul li a:hover {
    color: var(--color-1);
    text-decoration: underline;
}

.toggle_btn {
    font-size: 1.3em;
    cursor: pointer;
    display: none;
    color: var(--color-0);
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2em;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(13, 0, 18, 0.473);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 200px;
}

.dropdown_menu li {
    list-style: none;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    text-decoration: none;
    color: var(--color-0);
}

/* Perfil */
.perfil{
    height: 750px;
    background-image: url(../IMGs/header/bg-header.jpg);
    background-size: cover;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(134, 1, 134, 0.371);
    border-radius: 0px 0px 40px 40px;
}

.perfil .div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 15px;
    padding: 10px 30px;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    height: 100%;
}

div .sobre {
    display: block;
    max-width: 600px;
    height: 400px;
}

.sobre .informacoes {
    width: 420px;
    text-align: left;
}

article.informacoes h1 {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
}

article.informacoes p .txt--front-end {
    color: var(--color-1);
}

article.informacoes p {
    color: var(--color-0);
    font-size: 1.9rem;
    font-weight: 700;
}

.fotoDePerfil .profile-picture {
    box-shadow: 0px 0px 20px var(--color-1);
    max-height: 350px;
    border-radius: 20% 0 20% 0;
}

.sobre-mim{
    background-color: rgba(29, 16, 29, 0.409);
    border-radius: 10px;
    max-width: 500px;
    padding: 20px;
    margin-top: 40px;
}

.sobre-mim p {
    font-family: "Fira Code", monospace;
    color: #c38fe9;
    font-size: 1.1rem;
    text-indent: 20px;
}