@media only screen and (max-width: 835px) {
    /* NAV */

    .links li {
        display: none;
    }

    .toggle_btn {
        display: block;
        margin: 15px 20px 0 0;
    }

    .dropdown_menu {
        z-index: 999;
        position: fixed;
        display: block;
    }

    /* HEADER */
    .perfil {
        min-height: 850px;
        background-image: url(../IMGs/header/bg-header-smartphone.jpg);
        padding-top: 50px;
    }

    .perfil .div {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .perfil .fotoDePerfil .profile-picture {
        max-height: 250px;
    }

    article.informacoes h1 {
        margin-top: 45px;
        font-size: 32px;
    }

    .perfil .sobre-mim {
        padding: 26px;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 530px) {
    /* NAV */
    .dropdown_menu {
        left: 2rem;
        width: unset;
        }

    /* HEADER */
    article.informacoes h1 {
        margin-top: 25px;
        font-size: 20px;
    }

    .perfil .fotoDePerfil .profile-picture {
        max-height: 150px;
        border-radius: 50%;
    }

    .perfil .sobre-mim {
    padding: 16px;
    }

    /* CERTIFICADOS */
    .slider {
        width: 260px;
        height: 180px;
    }

    .slide img {
        width: 260px;
        border-radius: 10px;
    }

    .manual-navigation {
        width: 260px;
    }

    .navigation-auto {
        width: 260px;
    }

    .manual-navigation {
        position: absolute;
        width: 260px;
        margin-top: -200px;
    }

    .manual-btn {
        padding: 3px;
        border-radius: 50%;
    }

    .navigation-auto div {
        padding: 3px;
        border-radius: 50%;
    }

    .navigation-auto {
        width: 260px;
        margin-top: 150px;
    }
}