/* LANGS */
.langs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    margin-top: 80px;
}

.titulo-da-lang {
    color: var(--color-0);
    font-size: 1.5rem;
    font-weight: 700;
}

.langs__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 0 60px;
    border-radius: 20px;
    overflow: hidden;
}

.linguagens {
    text-align: center;
    width: 160px;
    height: 180px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

.linguagens p {
    color: var(--color-0);
    font-weight: 700;
    margin-top: 15px;
}

.linguagens img {
    max-height: 90px;
}

.html {
    background-color: rgba(205, 94, 24, 0.114);
}

.css {
    background-color: rgba(30, 162, 174, 0.168);
}

.js {
    background-color: rgba(217, 225, 63, 0.141);
}

.github {
    background-color: rgba(255, 255, 255, 0.127);
}

.git {
    background-color: rgba(184, 60, 32, 0.196);
}

.tailwind {
    background-color: rgba(6, 115, 86, 0.168);

}

/* CERTIFICADOS */
.slider {
    margin: 40px auto;
    width: 500px;
    height: 350px;
    overflow: hidden;
}

.titulo-do-slider {
    text-align: center;
    color: var(--color-0);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px;
    margin: 40px 0;
}

.slides {
    display: flex;
    width: 400%;
    height: 350px;
}

.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 500px;
    border-radius: 20px;
}

.manual-navigation {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 500px;
    margin-top: -40px;
}

.manual-btn {
    border: 2px solid purple;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: purple;
}

#radio1:checked ~ .primeira {
    margin-left: 0;
}

#radio2:checked ~ .primeira {
    margin-left: -25%;
}

#radio3:checked ~ .primeira {
    margin-left: -50%;
}

#radio4:checked ~ .primeira {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid purple;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 500px;
    margin-top: 310px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: purple;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: purple;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: purple;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: purple;
}