@media only screen and (max-width: 835px) {
    /* NAV */
    nav {
        padding: 10px 15px;
    }

    .links li {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        z-index: 999;
        position: fixed;
        display: block;
    }

    /* HEADER */
    .perfil {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 850px;
        background-image: url(../IMG/bg-header-smartphone.jpg);
        padding-top: 50px;
    }

    .perfil .fotoDePerfil .profile-picture {
        max-height: 250px;
    }

    article.informacoes h1 {
        margin-top: 45px;
        font-size: 32px;
    }

    .perfil .sobre-mim {
        padding: 26px;
        margin-top: 70px;
    }
}

@media only screen and (max-width: 600px) {
    .tecnologias ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 530px) {
    /* NAV */
    .dropdown_menu {
        left: 2rem;
        width: unset;
        }

    /* HEADER */
    article.informacoes h1 {
        margin-top: 25px;
        font-size: 20px;
    }

    .perfil .fotoDePerfil .profile-picture {
        max-height: 150px;
        border-radius: 50%;
    }

    .perfil .sobre-mim {
        padding: 16px;
    }

    /* MAIN */
    
    .tecnologias ul li {
        width: 80px;
    }

    .tecnologias ul li img {
        max-height: 60px
    }

    .tecnologias ul {
        grid-template-columns: 1fr 1fr;
    }

    .pontosDeXP .pontos {
        width: 8px;
        height: 10px;
    }

    .pontosDeXP .sempontos {
        width: 8px;
        height: 10px;
    }

}