.sessao-conquistas{
    padding: 0 30px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.habilidades {
    padding: 15px;
    margin-top: 30px;
    height: 500px;
    max-width: 700px;
    background-color: rgba(15, 11, 43, 0.586);
    border-radius: 15px;
}

.habilidades .header div {
    width: 100%;
    text-align: end;
}

.habilidades .header div .sair-das-skills {
    color: var(--color-0);
    font-weight: 700;
    padding: 10px 13px;
    background-color: rgba(2, 3, 19, 0.403);
    transition: all 0.2s;
}

.habilidades .header div .sair-das-skills:hover {
    background-color: red;
}

.habilidades .header h2 {
    text-align: center;
    color: var(--color-0);
}

.main {
    padding: 0 30px;
}

.explicacao ul li {
    display: flex;
    list-style: none;
    color: rgb(85, 133, 175);
    font-weight: 700;
    font-size: 12PX;
    margin: 10px 5px 10px 15px;
}

.explicacao ul li div {
    width: 10px;
    height: 16px;
    background-color: aqua;
    margin-right: 10px;
}

.XP {
    display: flex;
    justify-content: end;
}

.XP h3 {
    color: aqua;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(33, 3, 46, 0.505);
    width: 80px;
}

.tecnologias {
    background-color: rgba(40, 36, 67, 0.586);
    max-width: 500px;
    height: 250px;
    margin: auto;
    overflow-y: scroll;
    border-radius: 8px;
}

.ferramentas {
    padding: 8px;
    background-color: rgba(40, 36, 67, 0.586);
}

.tecnologias ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 15px;
}

.tecnologias .divisao-das-habilidades {
    padding: 20px;
    color: rgb(85, 133, 175);
    font-weight: 700;
    font-size: 14px;
    background-color: rgba(40, 36, 67, 0.586);
}

.tecnologias ul li {
    margin: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

.tecnologias ul li p {
    color: var(--color-0);
}

.tecnologias ul li img {
    max-height: 60px
}

.pontosDeXP {
    display: flex;
    justify-content: center;
}

.pontosDeXP .pontos{
    width:10px;
    height: 16px;
    margin: 2px;
    background-color: aqua;
}

.pontosDeXP .sempontos {
    width:10px;
    height: 16px;
    margin: 2px;
    border: 1px solid aqua;
}

.bloqueadas {
    filter: blur(2px);
}

::-webkit-scrollbar {
    width: 0;
}

/* slider */
.slider {
}

/* espacamento */

.sessao-conquistas {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    height: 750px;
    align-items: center;
}